/* Lalezar font */
@font-face {
    font-family: "Lalezar";
    src: local("Lalezar"),
         url('/assets/fonts/Lalezar/Lalezar-Regular.ttf') format('truetype');
}

/* Open Sans font */
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
         url('/assets/fonts/Open Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

h1, h2, h3, h4, h5 {
    font-family: "Lalezar";
}

p {
    font-family: "Open Sans";
}

